html,
body {
    height: 100%;
    -webkit-text-size-adjust: none;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-inline label {
    margin-right: 6px;
}

.form-inline .input-group {
    margin-right: 12px;
}

.group-view ul.ms-list {
    height: 360px;
}
.group-view .ms-container {
    width: 100%;
    background: transparent url('../img/switch.png') no-repeat 50% 50%;
}

form div.required label.control-label:after {
    content:" * ";
    color:red;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.monospace {
    font-family: monospace;
}

.detail-view th {
    text-align: right;
    width: 50%;
}
.range-value {
    width: 176px;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
/* guest survey styles */
.fullpage {
    font-size: 20px;
}
.fullpage hr {
    margin-top: 12px;
    margin-bottom: 16px;
}
.fullpage .vpad {
    padding-top: 74px;
    padding-bottom: 54px;
}
.emoticon svg {
  width: 40px;
  height: 40px;
  position: relative;
  right: 13px;
}
[data-anchor*="step"] {
  background-position: center;
  background-size: auto 100%;
}
[data-anchor="step-0"] {
  background-image: url(../img/front.jpg);
}
[data-anchor="step-1"] {
  background-image: url(../img/reception.jpg);
}
[data-anchor="step-2"], [data-anchor="step-4"] {
  background-image: url(../img/el-mirador.jpg);
}
[data-anchor="step-3"] {
  background-image: url(../img/restaurant.jpg);
}
[data-anchor="step-5"] {
  background-image: url(../img/apartment.jpg);
}
[data-anchor="step-7"] {
  background-image: url(../img/entertaining.jpg);
}
[data-anchor="step-8"] {
  background-image: url(../img/swimming-pool.jpg);
}
[data-anchor="step-9"] {
  background-image: url(../img/sports.jpg);
}
.fullpage .section {
  padding: 12px;
  background-color: rgba(0,0,0,0.6);
}
.fullpage .section .container.panel {
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .45);
  padding: 16px;
  border-radius: 12px;
  border-color: transparent;
  color: #eee;
}
.fullpage .section .container.panel.panel-white {
  background-color: rgba(255,255,255,.25);
  color: #333;
}
.fullpage .section .container.panel > h1 {
  color: #ddd;
  text-shadow: 2px 1px #000000;
}
.fullpage-menu {
  position: fixed;
  top: 10px;
  left: 18px;
  z-index: 70;
}
.fullpage-menu .btn-link {
  padding: 4px 8px;
  margin-right: 6px;
  display: inline-block;
  background-color: transparent;
  background: rgba(255,255,255,.6);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.fullpage-footer {
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 70;
}
.fp-enabled .modal-backdrop.in {
  filter: alpha(opacity=85);
  opacity: 0.85;
}
.btn-group-xl > .btn, .btn-xl {
  padding: 14px 24px;
  font-size: 24px;
  line-height: 2.2;
  border-radius: 8px;
}
.language-wrapper {
  overflow: hidden;
  box-sizing: content-box;
  padding: 0 0 4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 900;
  border-radius: 12px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
}
.language-wrapper.active {
  background-color: rgba(255,255,255,.6);
  color: black;
  text-shadow: none;
}
a.language-wrapper:hover {
  background-color: rgba(0,0,0,.6);
  color: white;
  text-decoration: none;
}
.language-wrapper .language {
  width: 600%;
}
.language-wrapper .language-es {
  margin-left: -300%;
}
.language-wrapper .language-da {
  margin-left: -200%;
}
.language-wrapper .language-de {
  margin-left: -100%;
}
.language-wrapper .language-no {
  margin-left: -400%;
}
.language-wrapper .language-sv {
  margin-left: -500%;
}
.front-panel {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.3+25,0.4+85,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 25%, rgba(255,255,255,0.4) 85%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.4) 85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.4) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  color: #000;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 30px;
  padding-right: 30px;
}
.front-panel h1 {
  text-shadow: 1px 1px #ddd;
}

.fullpage textarea {
  resize: none;
}

@media (max-width: 767px) {
  .fullpage .page-header {
     margin: 12px 0 8px;
  }
  .fullpage .lead {
    font-size: 0.9em;
  }
}
@media (max-width: 992px) {
  .language-wrapper {
    font-size: 0.5em;
  }
}
@media (min-width: 768px) {
  .fullpage .lead {
    font-size: 18px;
  }
}
