html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-inline label {
    margin-right: 6px;
}

.form-inline .input-group {
    margin-right: 12px;
}

.group-view ul.ms-list {
    height: 360px;
}
.group-view .ms-container {
    width: 100%;
    background: transparent url('../img/switch.png') no-repeat 50% 50%;
}

form div.required label.control-label:after {
    content:" * ";
    color:red;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.monospace {
    font-family: monospace;
}

/* guest survey styles */
.fullpage {
    font-size: 22px;
}
.fullpage hr {
    margin-top: 12px;
    margin-bottom: 16px;
}
.fullpage .vxpad {
    padding-top: 164px;
    padding-bottom: 96px;
}
.fullpage .vpad {
    padding-top: 24px;
    padding-bottom: 12px;
}
.fullpage .vpad .form-group {
    padding-top: 16px;
}
.emoticon svg {
  width: 40px;
  height: 40px;
  position: relative;
  right: 16px;
}
[data-anchor*="step"] {
  background-position: center;
  background-size: auto 100%;
}
[data-anchor="step-0"] {
  background-image: url(../img/front.jpg);
}
[data-anchor="step-1"] {
  background-image: url(../img/reception.jpg);
}
[data-anchor="step-2"], [data-anchor="step-4"] {
  background-image: url(../img/restaurant.jpg);
}
[data-anchor="step-3"] {
  background-image: url(../img/pool-bar.jpg);
}
[data-anchor="step-7"] {
  background-image: url(../img/entertaining.jpg);
}
[data-anchor="step-8"] {
  background-image: url(../img/swimming-pool.jpg);
}
[data-anchor="step-9"] {
  background-image: url(../img/sports.jpg);
}
.fullpage .section {
  padding: 12px;
  background-color: rgba(0,0,0,0.6);
}
.fullpage .section .container.panel {
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .35);
  padding: 16px;
  border-radius: 12px;
  border-color: rgba(0,0,0,0.9);
  color: #eee;
}
.fullpage .section .container.panel > h1 {
  color: #ddd;
  text-shadow: 2px 1px #000000;
}
.fullpage-menu {
  position: fixed;
  top: 10px;
  left: 18px;
  z-index: 70;
}
.fullpage-menu .btn-link {
  padding: 4px 8px;
  display: inline-block;
  background-color: transparent;
  background: rgba(255,255,255,.6);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.btn-group-xl > .btn, .btn-xl {
  padding: 14px 24px;
  font-size: 24px;
  line-height: 2.2;
  border-radius: 8px;
}
.language-wrapper {
  overflow: hidden;
  box-sizing: content-box;
  padding: 4px 0 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 900;
  border-radius: 12px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
}
.language-wrapper.active {
  background-color: rgba(255,255,255,.6);
  color: black;
  text-shadow: none;
}
a.language-wrapper:hover {
  background-color: rgba(0,0,0,.6);
  color: white;
  text-decoration: none;
}
.language-wrapper .language {
  width: 600%;
}
.language-wrapper .language-es {
  margin-left: -300%;
}
.language-wrapper .language-da {
  margin-left: -200%;
}
.language-wrapper .language-de {
  margin-left: -100%;
}
.language-wrapper .language-no {
  margin-left: -400%;
}
.language-wrapper .language-sv {
  margin-left: -500%;
}
@media (max-width: 767px) {
  .fullpage .page-header {
     margin: 12px 0 8px;
  }
  .fullpage .vxpad {
    padding-top: 96px;
    padding-bottom: 64px;
  }
}
